.prof
		{
			width: 65%;
    		height: 350px;    
    		padding: 3%;
    		border: 1px solid black;
    		box-sizing: border-box;
    		margin-top: 6%;
    		margin-left: 20%;
    		background-color: rgb(14,39,89);
    		color:white;	
		}
#heading
		{
			
			font-size: 35px;
			text-align: center;	
		}
#heading1
		{
			
			font-size: 25px;
			text-align: center;	
		}
#heading2
		{
		
			font-size: 22px;
			text-align: center;	
		}
#heading3
		{
			font-size: 20px;
			text-align: center;	
		}
#academics {
 
		    border-collapse: collapse;
		    width: 65%;
    		margin-left: 20%;
		    border: 1px solid black;
		}

#academics td {
    		border: 1px solid black;
    		padding: 1%;
    		width:20%;
    		height:40px;
}

#academics tr:nth-child(even){background-color: white;}
#academics tr:nth-child(odd){background-color:  rgb(14,39,89);color:white;}
#academics th {
    		padding-top: 2%;
    		padding-bottom: 2%;
    		text-align: left;
    		background-color: rgb(14,39,89);
    		color: white;
}
.form-submit2 button{
		  background: rgb(240,115,1);
		  border: none;
		  color: white;
		  font-size: 16px;
		  padding: 20px 10%;
		  border-radius: 5px;
		  display: block;
		  margin: auto;
		}