		.div3
		{
			font-size: 20px;
			float: left;
			height: 70px;
			width: 10%;
			background: rgb(14,39,89);
			color:white;
			border: 1px solid black;
			text-align: center;
			padding-top: 10px;
		}
		.name2
		{
			font-size: 20px;
			text-align: center;
			float: left;
			height: 80px;
			width: 39%;
			background-color: white;
			color:white;
			border:1px solid black;
		}
		.detail-heading
		{
			
			height: 40px;
			width: 96.7%;
			background: rgb(14,39,89);
			color:white;
			text-align: center;
			padding-top: 20px;
            font-size: 22px;
            border:1px solid black;
            margin-left: 25px;
		}
		.div4
		{
			font-size: 20px;
			float: left;
			height: 45px;
			width: 10%;
			background: rgb(14,39,89);
			color:white;
			text-align: center;
			padding-top: 10px;
			border:1px solid black;
		}
		.name3
		{
			font-size: 20px;
			float: left;
			height: 55px;
			width: 88.3%;
			background-color: white;
			color:white;
			border: 1px solid black;
		}
		.company-details
		{
			margin-left:25px;
		}

		.form-submit{
 		 width: 100%;
 		 }
		.form-submit button{
		  background: rgb(240,115,1);
		  border: none;
		  color: white;
		  font-size: 16px;
		  padding: 20px 10%;
		  border-radius: 5px;
		 /* display: block;*/
		  margin-left:300px; 
		  margin: auto;
		}